{% extends "base-page.html" %}
{% block title %}Spider{% endblock %}

{% block style %}{% endblock %}

{% block content_rows %}
<div class="card">
    <div class="card-body">
        <h1 class="card-title">Data Check</h1>
        <p class="card-description">Found {{ num }} liked songs.</p>
        <a class="mr-xl-4" href="/spider?download=True">
            <button class="btn btn-primary btn-fw">Start and Wait...</button>
        </a>
        <a href="/spider?reload=True&download=True">
            <button class="btn btn-primary btn-fw">Update</button>
        </a>
    </div>
</div>
{% endblock %}